.button {
    background-color: #6278F7;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.button:hover {
    color: #95FFD4;
    transition: 0.5s ease-in-out;
}